/* The .footer class styles the footer section */
.footer {
    color: var(--footer-text-color);
    background-color: var(--footer-background-color);
    border-top: 1px solid var(--footer-border-color);
    padding: 20px 0;
    text-align: center;
}

/* The .containerFluid styles the container for the fluid content in the footer */
.containerFluid {
    background-color: var(--footer-fluid-background-color);
    padding: 10px 0;
    margin-top: 20px;
}
  
/* The .containerFluid p styles the text in the fluid content container */
.containerFluid p {
    margin-bottom: 0;
}
