/* Common styles for both sections */
.section1,
.section2,
.introduction {
  background-color: var(--introduction-background-color);  
  width: 100%;   
  min-height: 100vh;
  height: 100vh;
  padding: 0px;
               /* Make the sections take up the full width of the viewport */
  height: fit-content;  
  display: flex;              
  flex-direction: column;     
  justify-content: center;    /* Center the content vertically */
  align-items: center;        /* Center the content horizontally */
      
  -webkit-box-pack: center;
  -webkit-box-align: center;      
}

/* Specific styles for section 1 */
.section1 {
  background-color: var(--background-color);  
}

/* Specific styles for section 2 */
.section2 {
  background-color: var(--background-color); 
}

/* Specific for the introduction section */