/* The .header class styles the header (Navbar) section */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
  animation: fadeInFromTop 0.5s ease-out;
}

/* The .header::before creates a semi-transparent background for the header with a blur effect */
.header::before {
  content: '';
  background-color: rgba(var(--navigation-bar-color-rgb), 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(5px);
}

/* Hides the nav bar while scrolling down */
.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

/* The .brand class styles the brand text */
.brand {
  color: var(--navigation-bar-text-color);
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* The .dropdownContainer class styles the container for the dropdown menu */
.dropdownContainer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  animation-name: dropdownFade;
  animation-duration: 0.5s;
}

/* The dropdownFade animation fades in and out the dropdown menu */
@keyframes dropdownFade {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* The .dropdownMenu class styles the dropdown menu */
.dropdownMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgba(var(--navigation-bar-color-rgb), 0.8);
  backdrop-filter: blur(5px);
}

/* The .dropdownMenu li class styles each item in the dropdown menu */
.dropdownMenu li {
  margin: 10px;
}

/* The .dropdownMenu .navLink class styles the links in the dropdown menu */
.dropdownMenu .navLink {
  color: var(--navigation-bar-text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

/* The .dropdownMenu .navLink:hover class styles the links in the dropdown menu on hover */
.dropdownMenu .navLink:hover {
  color: var(--navigation-bar-text-hover-color);
}

/* Media query for mobile view (less than 768px) */
@media (max-width: 768px) {
  /* Change flex-direction to column when screen size is less than 768px */
  .dropdownMenu {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Set width to 100% to ensure each item takes up full width */
  .dropdownMenu li {
    width: 100%;
  }

  /* Set margin-bottom to create space between items */
  .dropdownMenu .navLink {
    margin-bottom: 10px;
  }
}

/* Media query for desktop view (768px and larger) */
@media screen and (min-width: 768px) {
  .dropdownMenu {
    display: none; /* Hide the dropdown menu on larger screens */
  }
}

/* Animation for the fadeInFromTop effect */
@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.resumeButton {
  background-color: transparent;
  border: 2px solid var(--navigation-bar-text-color); / Adjust the border color to match your design /
color: var(--navigation-bar-text-color); / Adjust the text color to match your design /
padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  border-radius: 15px; / Add this line to make the corners rounded /
}

.resumeButton:hover {
  background-color: var(--navigation-bar-text-color); / Adjust the hover background color to match your design /
color: white; / Adjust the hover text color to match your design */
}