/* Container for the whole image card */
.imageCard {
  position: relative;
  max-width: 50vw;
  min-width: 40vw;
  max-height: 50vh;
  min-height: 40vh;
  height: 50vh;
  width: 40vw;
  border-radius: 25px; 
}
  
/* Container for the image and title */
.imageWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: transform 0.5s ease-out;
  border-radius: 25px; 
}
  
/* The image itself */
.imageWrapper img {
  width: 100%;
  height: 100%;
  filter: brightness(0.4);
  border-radius: 25px; 
}
  
/* The title text */
.imageWrapper h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--card-background-color);
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-align: center;
} 

/* Style applied when the card is clicked */
.shiftLeft {
  transform: translateX(-50%);
}
  
/* Container for the description */
.descriptionCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--card-background-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  transition: transform 0.5s ease-out;
  overflow-y: auto;
  border-radius: 25px;
  position: relative; /* Add this property */
}
  
/* Link to the GitHub repository */
.descriptionCard .githubLink {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
  
/* GitHub icon */
.descriptionCard .githubIcon {
  font-size: 1.5rem;
  color: var(--card-text-color);
  transition: color 0.2s ease-in-out;
}
  
/* Change color when you hover over the GitHub icon */
.descriptionCard .githubIcon:hover {
  color: var(--navigation-bar-text-hover-color);
}
  
/* The description heading */
.descriptionCard h2 {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-top: 0;
  font-size: clamp(1rem, 2vw, 1.5rem);
}
  
/* The description paragraph */
.descriptionCard p {
  max-width: 100%;
  max-height: 80%;
  width: fit-content;
  height: auto;
  font-size: clamp(1rem, 2vw, 1.5rem);
}