.skills {
    padding: 1.5rem;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--skills-text-color);
  }
  
  .skills h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill {
    background-color: var(--skills-background-color);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .skills h2 {
      font-size: 1.5rem;
    }
  
    .skill {
      font-size: 0.9rem;
    }
  }
  