/* Define global variables for light theme */
:root {
  /* General variables */
  --max-width: 1100px;
  --border-radius: 12px;
  /*--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    */


  --font-family: Montserrat, ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;


  /* TODO: Assign color variables (light and dark)*/
  /* Color variables */  
  --base-color-1: white;
  --base-color-2: navy;
  --base-color-3: #6ba1c4;
  --base-color-4: lightgray;

  /*rgb(11, 29, 81)*/

  /* Navigation */  
  --navigation-bar-color-rgb: 250, 100, 100;
  --navigation-bar-color: var(--base-color-1);
  --navigation-bar-text-color: var(--base-color-2);
  --navigation-bar-text-hover-color: var(--base-color-3);
  
  /* General */
  --background-color: var(--base-color-1);
  --text-color: var(--base-color-2);

  --introduction-background-color: var(--base-color-1);
  --about-me-background-color: var(--base-color-1);

  /* Skills */
  --skills-background-color: var(--base-color-4);
  --skills-text-color: var(--base-color-2);

  /* Experience */
  --experience-background-color: var(--base-color-1);
  --job-background-color: var(--base-color-1);
  --experience-text-color: var(--base-color-2);
  --job-text-color: var(--base-color-2);
  --job-border-color: var(--base-color-4);

  /* Education */
  --education-background-color: var(--base-color-1);
  --education-text-color: var(--base-color-2);
  --education-instance-background-color: var(--base-color-1);
  --education-instance-text-color: var(--base-color-2);
  --education-instance-border-color: var(--base-color-4);

  /* Projects */
  --project-background-color: var(--base-color-1);
  --project-text-color: var(--base-color-2);
  --project-instance-background-color: var(--base-color-1);
  --project-instance-text-color: var(--base-color-2);
  --project-instance-border-color: var(--base-color-4);
  --project-link-button-color:  var(--base-color-2);
  --project-link-hover-button-color:  var(--base-color-3);
  --project-link-button-text-color: var(--base-color-4);

  /* Project Cards */
  --card-background-color: var(--base-color-4);
  --card-text-color: var(--base-color-1);

  /* Footer */
  --footer-background-color: var(--base-color-1);
  --footer-fluid-background-color: var(--base-color-1);
  --footer-border-color: var(--base-color-1);
  --footer-text-color: var(--base-color-2);
  --footer-link-color: var(--base-color-2);
  --footer-link-hover-color: var(--base-color-3);
}

/* Define global variables for dark theme 
@media (prefers-color-scheme: dark) {
  :root {
  /* Navigation 
  --navigation-bar-color: #333;
  --navigation-bar-text-color: #fff;
  --navigation-bar-text-hover-color: #0fea25;
  
  /* General 
  --background-color: var(--base-color-1);
  --introduction-background-color: var(--base-color-1);
  --about-me-background-color: #6e6eeb;
  --education-background-color: #6e6eeb;
  --experience-background-color: #6e6eeb;
  --projects-background-color: #6e6eeb;
  --skills-background-color: #6e6eeb;

  /* Project Cards 
  --card-background-color: #ffffff;
  --card-text-color: #000;

  /* Footer 
  --footer-background-color: #333;
  --footer-border-color: #000000;
  --footer-text-color: #fff;
  --footer-link-color: #fff;
  --footer-link-hover-color: #0fea25;
  --footer-fluid-background-color: #333;
  }
}
*/
/* Reset padding and margin for all elements */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Set global styles for html and body */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Set global styles for body element */
body {
  color: var(--card-text-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-color)
    )
    rgb(var(--background-start-rgb));
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

/* Set global styles for anchor element */
a {
  color: inherit;
  text-decoration: none;
}

/* Set color-scheme to dark for dark mode */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
